<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>Homepage</h1>
<p><a th:href="@{/page-one}">Go to page one</a></p>
</body>
</html>