<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page One</title>
</head>
<body>
<h1>Page One</h1>
<p><a th:href="@{/page-two}">Go to page two</a></p>
</body>
</html>